.todo-add {
  margin: 15px 10px;

  .todo-field {
    width:  100%
  }

  button {
    width: 100%;
  }

  @media only screen and (min-width: 680px) {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    button {
      width: 80%;
      margin: 0 10%;
    }
  }
}
